body{
    margin:0;
    padding:0;
}
nav a{
    color:white;
    text-decoration: none;
}
.container{
    background-color:blue;
    width:100%;
    height:70px;
    border: 1px solid black;
}
.text{
    position:relative;
    left:600px;
    bottom:40px;
}
.container a{
    position:relative;
    left:10px;
}

.container a:hover{
    color:black;
}
.container1{
    background-color:blue;
    width:100%;
}
.container1 ul{
    list-style: none;
    display:flex ;
    justify-content: space-around;
    border:1px solid black;
}
.container1 a:hover{
    color:black;
    background-color: rgb(250, 14, 6);
}
.container2{
    background-image: url(download.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    margin:40px;
    padding:40px;
}
.container2 h1{
    color:blue;
    background-color:black;
}
.container2 a{
    color:blue;
    background-color:black;
    position:relative;
    left: 300px;
    border:2px solid black;
    transition:3s;
    transition-duration:color;
}
.container2 a:hover{
    color:black;
    background-color: red;
}
.container3{
    background-color:blue;
    width:100%;
}
.container3 ul{
    list-style: none;
    display:flex ;
    justify-content: space-around;
    border:1px solid black;
}
.container3 a:hover{
    color:black;
    background-color: rgb(250, 14, 6);
}